<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="TestsContext"
         connectionString="Server=69.16.202.140;Database=BillMate;User Id=appthero;Password=Ry^Y*sjDV1eF;"
         providerName="System.Data.SqlClient" />
    <add name="HangfireConnection"
         connectionString="Server=69.16.202.140;Database=BillMate;User Id=appthero;Password=Ry^Y*sjDV1eF;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!-- Other configuration settings -->
</configuration>
